@model Data.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Platform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platform)
        </dd>

    </dl>
</div>
<p>
    @if (!string.IsNullOrEmpty(Request.QueryString["bc"]) && !string.IsNullOrEmpty(Request.QueryString["ba"]))
    {
        @Html.ActionLink("Back | ", Request.QueryString["ba"], Request.QueryString["bc"])
    }
    else
    {
        @Html.ActionLink("Back | ", "Index")
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityId })
</p>