@model IEnumerable<Site.Models.Projects.ProjectInfo>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="clickable-row" onclick="clickrow('@Url.Action("Edit", new { id = item.ActivityId})');">
    <td title="@Html.DisplayFor(modelItem => item.Name)">
        @Html.DisplayFor(modelItem => item.NameAbbreviated)
    </td>
    <td title="@Html.DisplayFor(modelItem => item.Description)">
        @Html.DisplayFor(modelItem => item.DescriptionAbbreviated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectOwner)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateStarted)
    </td>
    <td title="@Html.DisplayFor(modelItem => item.Platform)">
        @Html.DisplayFor(modelItem => item.PlatformAbbreviation)
    </td>
    <td title="@Html.DisplayFor(modelItem => item.Url)">
        @if (item.UrlWellFormatted)
        {
            <a class="except" onclick="followLink(event, '@(item.Url)')">@Html.DisplayFor(modelItem => item.UrlAbbreviated)</a>
        }
        else
        {
            @Html.DisplayFor(modelItem => item.UrlAbbreviated)
        }
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { @id = item.ActivityId })
    </td>
</tr>
    }

</table>

@* Clicking on URLs*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        var allowClickRow;

        $(document).ready(function () {
            allowClickRow = true;
        });

        function followLink(event, url) {
            window.open(url, '_blank');
            event.preventDefault();
            allowClickRow = false;
        }

        function clickrow(url) {
            if (allowClickRow) {
                location.href = url;
            }
            else {
                allowClickRow = true;
            }
        }
    </script>
}