@model IEnumerable<Data.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>South Dakota Diaspora</h2>
</div>
<div>
    @if (Session["UserName"] != null)
    {
        <text>
            Welcome @Session["UserName"].ToString()
        </text>
    }

    @if (Session["UserName"] == null)
    {
        <button>
            @Html.ActionLink("Create Account", "Create", "Home")
        </button>
    }

    <button>
        @(Session["UserName"] == null ? @Html.ActionLink("Log In", "Login", "Home") : @Html.ActionLink("Log Out", "Logout", "Home"))
    </button>

</div>
