@model Data.Models.User
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>South Dakota Diaspora</h2>
</div>
<div>

    @if (Session["UserName"] != null)
    {
    <div>
        <text>
            <h2>Welcome, </h2>
            <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) (@Html.DisplayFor(model => model.Username))</h4>
        </text>
    </div>
    }
    <br />
    <div>
        @if (Session["UserName"] == null)
        {
            <button>
                @Html.ActionLink("Create Account", "Create", "Home")
            </button>
        }
    </div>

    <div>
        <button>
            @(Session["UserName"] == null ? @Html.ActionLink("Log In", "Login", "Home") : @Html.ActionLink("Log Out", "Logout", "Home"))
        </button>
    </div>


</div>
