@model IEnumerable<Data.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@if (Session["Role"] != null && Session["Role"].ToString() == Data.Models.UserRoleType.Admin.ToString())
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeZonePreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th></th>
    </tr>

    @foreach (Data.Models.User item in Model)
    {
<tr class="clickable-row" onclick="location.href ='@Url.Action("Details", new { id = item.UserId})'" style="@(Session["UserID"] != null && item.UserId.ToString() == Session["UserID"].ToString() ? "font-weight: 600" : "")">
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TimeZonePreference, item.TimeZonePreference.GetType().Name)
    </td>
    <td>
        @Site.Helpers.GlobalMethods.FormatTime(item.LastLogin)
    </td>
    <td>
        @if ((Session["Role"] != null && Session["Role"].ToString() == Data.Models.UserRoleType.Admin.ToString() && // You are an admin AND
                item.UserRole != Data.Models.UserRoleType.Admin) || // This person is a contributor

            // OR

            (Session["UserID"] != null && item.UserId.ToString() == Session["UserID"].ToString())) // You are yourself
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
        }
    </td>
</tr>
    }

</table>
